@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap');

:root {
  --primary-color: #675AF7;
  --bg-color: #F7f7f7;
  --mesage-bg-color: #F7F5F7;
  --dark-color: #353334;
  --black: #333;
  --white: #fff;
  --online-color: #468267;
  --font-color: #CACACA;
  --light-gray-color: #ccc;
  --error-color: #721c24;
  --error-bg: #f8d7da;
  --box-shadow: 0 0 12px 0 rgba(0,0,0,0.1), 
  0 32px 64px -48px rgba(0,0,0,0.5);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  text-decoration: none;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background: var(--bg-color);
}

.container {
  background-color: var(--white);
  width: 450px;
  border-radius: 16px;
  box-shadow: var(--box-shadow);
}

/* Signup Form */
.form {
  padding: 25px 30px;
}

.form header {
  font-weight: 600;
  padding-bottom: 10px;
  border-bottom: 1px solid #e6e6e6;
}

.form form {
  margin: 20px 0;
}

.form form .error-txt {
  color: var(--error-color);
  background-color: var(--error-bg);
  padding: 8px 10px;
  border-radius: 5px;
  text-align: center;
  margin-bottom: 10px;
  border: 1px solid var(--error-bg);
}

/* Name Details div - first and last name */
.form form .name-details {
  display: flex;
}

form .name-details .field:first-child {
  margin-right: 10px;
}

form .name-details .field:last-child {
  margin-left: 10px;
}

.form form .field {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 10px;
  position: relative;
}

.form form .field label {
  margin-bottom: 2px;
  font-weight: 500;
}

.form form .input input{
  height: 40px;
  width: 100%;
  outline: none;
  padding: 0 10px;
  border: 1px solid #ccc;
  font-size: 16px;
  border-radius: 5px;
  background-color: transparent;
}

.form form .image input {
  font-size: 17px;
}

.form form .field i {
  position: absolute;
  right: 15px;
  color: var(--light-gray-color);
  top: 70%;
  transform: translateY(-50%);
  cursor: pointer;
}

.form form .button {
  margin-top: 13px;
  height: 40px;
  border: none;
  font-weight: 500;
  font-size: 17px;
  background-color: var(--primary-color);
  color: var(--white);
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.form form .button:hover {
  background-color: rgb(65, 64, 64);
}

.form .link {
  text-align: center;
  margin: 10px 0;
  font-size: 16px;
}

.form .link a {
  color: var(--primary-color)
}

.form .link a:hover {
  text-decoration: underline;
}

/* ====== USERS ====== */
.users {
  padding: 25px 30px;
}

.users header, 
.users-list a {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #e6e6e6;
}

.container img {
  object-fit: cover;
  border-radius: 50%;
}

.users header .content img{
  height: 50px;
  width: 50px;
}

:is(.users, .users-list) .content{
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

:is(.users, .users-list) .content .details {
  margin-left: 15px;
  color: #000;
}

:is(.users, .users-list) .content .details span {
  font-size: 18px;
  font-weight: 500;
}

.users header .logout {
  background: var(--black);
  color: var(--white);
  padding: 7px 15px;
  border-radius: 3px;
  font-size: 17px;
  margin-bottom: 10px;
}

.users .search {
  margin: 20px 0;
  display: flex; 
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.users .search .text {
  font-size: 18px;
}

.users .search input {
  background-color: var(--white);
  position: absolute;
  height: 42px;
  width: calc(100% - 48px);
  border: 1px solid #ccc;
  padding: 0 13px;
  border-radius: 5px;
  outline: none;
}

.users .search button {
  width: 47px;
  height: 42px;
  border: none;
  outline: none;
  color: #fff;
  background-color: var(--dark-color);
  border-radius: 0 5px 5px 0;
  font-size: 17px;
  cursor: pointer;
}

/* Users List */
.users-list {
  max-height: 350px;
  overflow-y: auto;
}

.users-list::-webkit-scrollbar {
  width: 0px;
}
.users-list a {
  padding-right: 15px;
  margin-bottom: 15px;
  page-break-after: 10px;
  border-bottom-color: #f1f1f1;
}

.users-list a:last-child {
  border: none;
  margin-bottom: none;
}

.users-list a img {
  height: 40px;
  width: 40px;
}
.users-list a .content p{
  color: #67676a;
}

.users-list a .status-dot {
  font-size: 12px;
  color: var(--online-color);
}

/* use class name in php to show user offline status */
.users-list a .status-dot.offline {
  color: var(--light-gray-color);
}